<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Willow Randomizer</title>
    <link rel="stylesheet" href="bulma.min.css">
    <script src="fontAwesome_all.js"></script>
    <!--script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script-->
    <script src="vue_2_6_12.js"></script>
    <script src="seedrandom.js"></script>
    <script src="src/js/willow.js"></script>
    <script>
      var crc32=function(r){for(var a,o=[],c=0;c<256;c++){a=c;for(var f=0;f<8;f++)a=1&a?3988292384^a>>>1:a>>>1;o[c]=a}for(var n=-1,t=0;t<r.length;t++)n=n>>>8^o[255&(n^r.charCodeAt(t))];return(-1^n)>>>0};
    </script>
    <style>
      .btn-margin {
          margin-top: 5px;
      }
      .subtitle {
          margin-top: 20px;
          margin-bottom: 2px;
      }
      .tr-green {
          background-color: lawngreen;
      }
      .tr-yellow {
          background-color: yellow;
      }
      html {
        background-image: url('willowBG.png');
      }
    </style>
  </head>
  <body>
    <section class="section" id="app">
      <div class="container box">
        <p><a href="index.html">back</a></p>

        <h1 class="title">
          Willow Randomizer
        </h1>

        <div class="file">
          <label class="file-label">
            <input class="file-input" type="file" name="rom" id="rom" v-on:change="fileChange()" onclick="this.value=null">
            <span class="file-cta">
              <span class="file-icon">
                <i class="fas fa-upload"></i>
              </span>
              <span class="file-label">
                Upload an unmodified Willow ROM
              </span>
            </span>
          </label>
        </div>

        <div>
            <span v-if="correctFileCRCcheck===true" style="color:green">
              Valid ROM
            </span>
            <span v-if="correctFileCRCcheck===false" style="color:red">
              Invalid ROM
            </span>
          </div>

        <div class="field">
          <label class="label">Seed</label>
          <div class="control">
            <input class="input" type="text" v-model="seed" style="width:30%">
          </div>
        </div>

        <hr/>

        <div class="tabs is-centered">
          <ul>
            <li v-bind:class="isTabSelected('logic')" v-on:click="selectTab('logic')">
              <a href="#">Logic</a>
            </li>
            <li v-bind:class="isTabSelected('modifiers')" v-on:click="selectTab('modifiers')">
              <a href="#">Modifiers</a>
            </li>
            <li v-bind:class="isTabSelected('patches')" v-on:click="selectTab('patches')">
              <a href="#">Patches</a>
            </li>
            <li v-bind:class="isTabSelected('misc')" v-on:click="selectTab('misc')">
              <a href="#">Misc</a>
            </li>
          </ul>
        </div>

        <div v-show="tab==='logic'">
          <div class="field">
            <label class="label">Start with Ocarina</label>
            <div class="control">
                <input type="checkbox" v-model="ocarina_start">
            </div>
          </div>

          <div class="field">
            <label class="label">Ocarina start locations</label>
            <div class="control">
                <input type="checkbox" v-model="ocarina_nelwyn"> Nelwyn
            </div>
            <div class="control">
              <input type="checkbox" v-model="ocarina_dew"> Dew
            </div>
            <div class="control">
              <input type="checkbox" v-model="ocarina_po"> Po's house
            </div>
            <div class="control">
              <input type="checkbox" v-model="ocarina_bar"> Bar
            </div>
            <div class="control">
              <input type="checkbox" v-model="ocarina_tir_asleen"> Tir Asleen
            </div>
            <div class="control">
              <input type="checkbox" v-model="ocarina_nockmaar"> Nockmaar
            </div>
          </div>

          <div class="field">
            <label class="label">Starting location</label>
            <div class="control">
                <label class="radio">
                  <input type="radio" v-model="starting_loc" value="nelwyn">
                  Nelwyn
                </label>
                <label class="radio">
                  <input type="radio" v-model="starting_loc" value="dew">
                  Dew
                </label>
                <label class="radio">
                  <input type="radio" v-model="starting_loc" value="posHouse">
                  Po's house
                </label>
                <label class="radio">
                  <input type="radio" v-model="starting_loc" value="bar">
                  Bar
                </label>
                <label class="radio">
                  <input type="radio" v-model="starting_loc" value="tirAsleen">
                  Tir Asleen
                </label>
                <label class="radio">
                  <input type="radio" v-model="starting_loc" value="nockmaar">
                  Nockmaar
                </label>
            </div>
          </div>
        </div>

        <div v-show="tab==='modifiers'">
          <div class="field">
            <label class="label">Exp requirement multiplier</label>
            <div class="control">
                <label class="radio">
                  <input type="radio" v-model="exp_multiplier" value="0.25">
                  25%
                </label>
                <label class="radio">
                  <input type="radio" v-model="exp_multiplier" value="0.5">
                  50%
                </label>
                <label class="radio">
                  <input type="radio" v-model="exp_multiplier" value="0.75">
                  75%
                </label>
                <label class="radio">
                  <input type="radio" v-model="exp_multiplier" value="1">
                  100%
                </label>
            </div>
          </div>

          <div class="field">
            <label class="label">0 MP Ocarina</label>
            <div class="control">
                <input type="checkbox" v-model="no_mp_ocarina">
            </div>
          </div>

          <div class="field">
            <label class="label">1 MP Cane</label>
            <div class="control">
                <input type="checkbox" v-model="oneMPcane">
            </div>
          </div>

          <div class="field" style="margin-left:20px">
            <label class="label">1 MP Cane (only against Bavmorda)</label>
            <div class="control">
                <input :disabled="!oneMPcane" type="checkbox" v-model="oneMPcaneBavmorda">
            </div>
          </div>
        </div>

        <div v-show="tab==='patches'">
          <div class="field">
            <label class="label">No Flash</label>
            <div class="control">
                <input type="checkbox" v-model="no_flash">
            </div>
          </div>

          <div class="field">
            <label class="label">Fast Text</label>
            <div class="control">
                <input type="checkbox" v-model="fast_text">
            </div>
          </div>

          <div class="field">
            <label class="label">Fast Movement</label>
            <div class="control">
                <input type="checkbox" v-model="fast_movement">
            </div>
          </div>

          <div class="field">
            <label class="label">Patch wall clip</label>
            <div class="control">
                <input type="checkbox" v-model="patch_wall_clip">
            </div>
          </div>

          <div class="field">
            <label class="label">Retain items on death</label>
            <div class="control">
                <input type="checkbox" v-model="keep_death_items">
            </div>
          </div>
        </div>

        <div v-show="tab==='misc'">
          <div class="field">
            <label class="label">Checks heal HP and MP</label>
            <div class="control">
                <input type="checkbox" v-model="healing_checks">
            </div>
          </div>
  
          <div class="field">
            <label class="label">Quick start (long sword + 20mp)</label>
            <div class="control">
                <input type="checkbox" v-model="quick_start">
            </div>
          </div>
  
          <div class="field">
            <label class="label">OHKO</label>
            <div class="control">
                <input type="checkbox" v-model="ohko">
            </div>
          </div>

          <div class="field">
            <label class="label">Enable debug cheat code</label>
            <div class="control">
                <input type="checkbox" v-model="debugCombo">
            </div>
          </div>
        </div>

        <hr/>

        <div class="btn-margin">
          <button class="button" :disabled="correctFileCRCcheck!==true" v-on:click="randomizeRom()">Randomize</button>
        </div>

        <div class="btn-margin">
          <a class="button" :disabled="randomized===false" :download="fname" :href="createBlobURL">Download Randomized ROM</a>
          <button class="button" :disabled="randomized===false" v-on:click="toggleShowing('spoilers')">
            <span v-if="showing_spoilers">Hide Spoiler Log</span>
            <span v-if="!showing_spoilers">Show Spoiler Log</span>
          </button>
          <button class="button" v-on:click="toggleShowing('logic')">
            <span v-if="showing_logic">Hide Logic</span>
            <span v-if="!showing_logic">Show Logic</span>
          </button>
        </div>

        <div class="btn-margin">
          <div v-if="showing_spoilers">
            <div v-for="(sphere, idx) in spheres">
              <p class="subtitle">Sphere {{ idx }}</p>
              <table class="table">
                <thead>
                  <tr>
                    <th>Location</th>
                    <th>Item</th>
                  </tr>
                </thead>
                <tbody>
                  <tr v-for="location_item in sphere" v-bind:class="getRowClass(location_item)">
                    <td>{{ location_item[0] }}</td>
                    <td>{{ nice_names[location_item[1]] }}</td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div v-if="unobtainable.length>0">
              <p class="subtitle">Unobtainable</p>
              <table class="table">
                <thead>
                <tr>
                  <th>Location</th>
                  <th>Item</th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="location_item in unobtainable" v-bind:class="getRowClass(location_item)">
                  <td>{{ location_item[0] }}</td>
                  <td>{{ nice_names[location_item[1]] }}</td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>

          <div v-if="showing_logic">
            <h2 class="subtitle">Current Logic</h2>
            <table class="table">
              <thead>
                <tr>
                  <th>Place</th>
                  <th colspan="3">Requirements</th>
                </tr>
              </thead>
              <tbody>
                <tr v-for="place_req in place_reqs">
                  <td>{{ place_req[0] }}</td>
                  <td v-for="req in place_req[1]">{{ req }}</td>
                </tr>
              </tbody>
            </table>
            <table class="table">
              <thead>
                <tr>
                  <th>Item</th>
                  <th>Requirements</th>
                </tr>
              </thead>
              <tbody>
                <tr v-for="item_req in item_reqs">
                  <td>{{ item_req[0] }}</td>
                  <td>{{ item_req[1] }}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </section>
    <script>
      let app = new Vue({
        el: '#app',
        data: {
          correctFileCRCcheck: null,
          randomized: false,
          spheres: [],
          unobtainable: [],
          randomized_rom: null,
          data_showing: null,
          romType: 'US',
          seed: "",
          tab: 'logic',
          version: '0.2.0',

          exp_multiplier: "1",
          starting_loc: "nelwyn",
          no_flash: true,
          fast_text: true,
          fast_movement: false,
          ocarina_start: true,
          healing_checks: true,
          no_mp_ocarina: true,
          oneMPcane: false,
          oneMPcaneBavmorda: false,

          ocarina_nelwyn: true,
          ocarina_dew: true,
          ocarina_po: true,
          ocarina_bar: true,
          ocarina_tir_asleen: true,
          ocarina_nockmaar: false,
          quick_start: true,
          patch_wall_clip: true,
          ohko: false,
          debugCombo: false,
          keep_death_items: true,

          nice_names: {
            GF_UPGRADED_WING_SWORD: 'Upgraded Wing Sword',
            GF_LONG_SWORD: 'Long Sword',
            GF_BATTLE_SWORD: 'Battle Sword',
            GF_FLAME_SWORD: 'Flame Sword',
            GF_DRAGON_SWORD: 'Dragon Sword',
            GF_WING_SWORD: 'Wing Sword',
            GF_DEVIL_EYE_SWORD: 'Devil Eye Sword',
            GF_KAISER_SWORD: 'Kaiser Sword',
            GF_WONDER_SWORD: 'Wonder Sword',
            GF_WOOD_SHIELD: 'Wood Shield',
            GF_SMALL_SHIELD: 'Small Shield',
            GF_GOLD_SHIELD: 'Gold Shield',
            GF_DRAGON_SHIELD: 'Dragon Shield',
            GF_METAL_SHIELD: 'Metal Shield',
            GF_TAIL_SHIELD: 'Tail Shield',
            GF_BATTLE_SHIELD: 'Battle Shield',
            GF_FURY_SHIELD: 'Fury Shield',
            GF_ACORN_MAGIC: 'Acorn Magic',
            GF_BOMBARD_MAGIC: 'Bombard Magic',
            GF_RENEW_MAGIC: 'Renew Magic',
            GF_THUNDER_MAGIC: 'Thunder Magic',
            GF_FIREFLOR_MAGIC: 'Flowing Fire Magic',
            GF_CANE_MAGIC: 'Cane',
            GF_TERSTORM_MAGIC: 'Terstorm Magic',
            GF_HEALMACE_MAGIC: 'Healmace Magic',
            GF_OCARINA_MAGIC: 'Ocarina',
            GF_FLEET_MAGIC: 'Fleet Magic',
            GF_SPECTER_MAGIC: 'Specter Magic',
            GF_HEALBALL_MAGIC: 'Healball Magic',
            GF_STATUE_ITEM: 'Gold Statue',
            GF_RING_ITEM: 'Magic Ring',
            GF_HERBS_ITEM: 'Herbs',
            GF_SCALE_ITEM: 'Scale',
            GF_BRACELET_ITEM: 'Bracelet',
            GF_HANDCUFFS_KEY_ITEM: 'Handcuffs Key',
            GF_FLUTE_ITEM: 'Cross Flute',
            GF_RED_CRYSTAL_ITEM: 'Red Crystal',
            GF_BLUE_CRYSTAL_ITEM: 'Blue Crystal',
            GF_CREST_ITEM: 'Crest',
            GF_WAKKA_ITEM: 'Wakka Seed',
            GF_NOCKMAAR_KEY_ITEM: 'Nockmaar Key',
            GF_NECKLACE_ITEM: 'Necklace',
            GF_POWDER_ITEM: 'Powder',
            GF_SHOES_ITEM: 'Shoes',
          },

          place_reqs: [
            ['Bogarda cave', ['Statue', '', '']],
            ['Death Forest', ['Ocarina', 'Bogarda Beaten', '']],
            ['Daikini', ['Ocarina', 'Death Forest + Bracelet', '']],
            ['Lake area', ['Daikini + Wakka seed', 'Mountains + Crest', '']],
            ['Muzh + towers', ['Lake area + Flute', '', '']],
            ['Mountains', ['Lake area + Crest', 'Nockmaar + Powder', 'River cave + Specter']],
            ['Nockmaar castle', ['Ocarina + Specter', 'Mountains + Powder + Specter', '']],
            ['River cave', ['Mountains + Specter', 'Tir Asleen + Shoes', '']],
            ['Tir Asleen', ['Ocarina', 'River Cave + Shoes', 'Nockmaar + Powder']],
            ['Win', ['Nockmaar + Key + Cane + Fin', '', '']],
          ],

          item_reqs: [
            ["Dew Mayor's house", "Wood Shield"],
            ["Dew dragon items", "Scale"],
            ["Ocarina", "Herbs"],
            ["Handcuffed guy", "Handcuffs key"],
            ["Daikini rabbit", "Necklace"],
            ["Left Tower", "Blue Crystal"],
            ["Crest check", "Red Crystal"],
            ["Abang at Nockmaar", "Wing Sword"],
            ["Old lady in Tir Asleen House", "Wing Sword"]
          ]
        },

        methods: {
          fileChange: function() {
            app.correctFileCRCcheck = null;

            const selectedFile = document.getElementById('rom').files[0];
            let reader = new FileReader();

            // crc check
            reader.onload = function() {
              let crcCheck = crc32(reader.result);
              if (crcCheck === 1602658405) {
                app.correctFileCRCcheck = true;
                app.romType = 'US';
              } else {
                app.correctFileCRCcheck = false;
              }
              reader.abort();
            };
            reader.readAsBinaryString(selectedFile);
          },

          randomizeRom: function() {
            // use seed if provided, or gen one
            let myrng;
            if (app.seed === '') {
              app.seed = (+(new Date())).toString(16); 
            }
            myrng = new Math.seedrandom(app.seed);

            const selectedFile = document.getElementById('rom').files[0];
            let reader = new FileReader();
            app.randomized = false;
            if (app.data_showing === 'spoilers')
              app.data_showing = null;

            // file processing
            reader.onload = function() {
              let view = new Uint8Array(reader.result);
              let return_val = randomize(view, myrng, app);

              app.spheres = return_val[0];
              app.unobtainable = return_val[1];
              app.randomized_rom = return_val[2];
              app.randomized = true;

              reader.abort();
            }
            reader.readAsArrayBuffer(selectedFile);
          },

          toggleShowing: function(showing) {
            this.data_showing = this.data_showing === showing ? null : showing;
          },

          getRowClass: function(loc_item) {
            if (loc_item[1] === 'GF_CANE_MAGIC')
              return 'tr-green';
            return '';
          },

          orderedLocItems: function(loc_items) {
            return loc_items.sort((a, b) => (a[0] > b[1]) ? 1: -1)
          },

          isTabSelected: function(tab) {
            if (this.tab === tab)
              return 'is-active';
            return ''
          },

          selectTab: function(tab) {
            this.tab = tab;
          }
        },
        computed: {
          createBlobURL: function() {
            if (!this.randomized) return '';
            let blob = new Blob([app.randomized_rom], {
              type: 'application/octet-stream'
            });
            return window.URL.createObjectURL(blob);
          },

          fname: function() {
            let dt = new Date();
            let flags = `S${this.starting_loc[0]}`;
            if (this.ocarina_start) flags += "O";
            let startTeleByte = 0;
            if (this.ocarina_nelwyn) startTeleByte += 1;
            if (this.ocarina_dew) startTeleByte += 2;
            if (this.ocarina_po) startTeleByte += 4;
            if (this.ocarina_bar) startTeleByte += 8;
            if (this.ocarina_tir_asleen) startTeleByte += 16;
            if (this.ocarina_nockmaar) startTeleByte += 32;
            if (startTeleByte !== 0) {
              flags += `W${startTeleByte.toString(16)}`;
            }
            return `willow-${this.seed}-${flags}-${this.version}.nes`;
          },

          showing_spoilers: function() {
            return this.data_showing === 'spoilers';
          },

          showing_logic: function() {
            return this.data_showing === 'logic';
          }
        }
      })
    </script>
  </body>
</html>